In [67]:
import numpy as np
import pandas as pd
import csv

In [36]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression

In [68]:
#train_data = np.genfromtxt("C:/Users/ThisPc/Desktop/Coding Ninjas/Logistic Regression/training_titanic_x_y_train.csv", delimiter = ",")
train_data = pd.read_csv("C:/Users/ThisPc/Desktop/Coding Ninjas/Logistic Regression/training_titanic_x_y_train.csv", delimiter = ",")
train_data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.00,0,0,250655,26.0000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00,0,4,349909,21.0750,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
5,3,"Lemberopolous, Mr. Peter L",male,34.50,0,0,2683,6.4375,NaN,C,0
6,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S,1
7,3,"Jonkoff, Mr. Lalio",male,23.00,0,0,349204,7.8958,NaN,S,0
8,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1
9,3,"Rouse, Mr. Richard Henry",male,50.00,0,0,A/5 3594,8.0500,NaN,S,0
10,3,"Stanley, Miss. Amy Zillah Elsie",female,23.00,0,0,CA. 2314,7.5500,NaN,S,1
11,3,"Kassem, Mr. Fared",male,NaN,0,0,2700,7.2292,NaN,C,0
12,2,"Fox, Mr. Stanley Hubert",male,36.00,0,0,229236,13.0000,NaN,S,0
13,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q,0
14,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q,1
15,3,"Gustafsson, Mr. Johan Birger",male,28.00,2,0,3101277,7.9250,NaN,S,0
16,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,NaN,S,1
17,3,"Abbing, Mr. Anthony",male,42.00,0,0,C.A. 5547,7.5500,NaN,S,0
18,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,C91,S,0
19,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,NaN,Q,1
20,1,"Reuchlin, Jonkheer. John George",male,38.00,0,0,19972,0.0000,NaN,S,0
21,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C,0
22,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,NaN,S,1
23,3,"Sawyer, Mr. Frederick Charles",male,24.50,0,0,342826,8.0500,NaN,S,0
24,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,1
25,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0
26,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,0
27,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C,0
28,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,NaN,S,0
29,2,"Matthews, Mr. William John",male,30.00,0,0,28228,13.0000,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
638,3,"Davies, Mr. Alfred J",male,24.00,2,0,A/4 48871,24.1500,NaN,S,0
639,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",female,22.00,1,2,SC/Paris 2123,41.5792,NaN,C,1
640,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S,0
641,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,NaN,S,1
642,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S,1
643,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S,0
644,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0
645,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S,1
646,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S,0
647,1,"Kent, Mr. Edward Austin",male,58.00,0,0,11771,29.7000,B37,C,0
648,2,"Harper, Rev. John",male,28.00,0,1,248727,33.0000,NaN,S,0
649,3,"Adams, Mr. John",male,26.00,0,0,341826,8.0500,NaN,S,0
650,3,"Vander Cruyssen, Mr. Victor",male,47.00,0,0,345765,9.0000,NaN,S,0
651,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,NaN,S,0
652,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",female,33.00,1,2,C.A. 34651,27.7500,NaN,S,1
653,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S,0
654,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
655,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,D19,S,1
656,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S,0
657,3,"Cacic, Mr. Luka",male,38.00,0,0,315089,8.6625,NaN,S,0
658,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S,1
659,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,NaN,Q,0
660,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,1
661,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,NaN,C,1
662,1,"Walker, Mr. William Anderson",male,47.00,0,0,36967,34.0208,D46,S,0
663,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,0
665,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.00,0,0,7553,9.8375,NaN,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,1

In [69]:
train_data = train_data.drop(['Cabin'],1)

In [70]:
train_data

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.00,1,0,228414,26.0000,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.00,0,0,250655,26.0000,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.00,0,4,349909,21.0750,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,S,0
5,3,"Lemberopolous, Mr. Peter L",male,34.50,0,0,2683,6.4375,C,0
6,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,S,1
7,3,"Jonkoff, Mr. Lalio",male,23.00,0,0,349204,7.8958,S,0
8,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,S,1
9,3,"Rouse, Mr. Richard Henry",male,50.00,0,0,A/5 3594,8.0500,S,0
10,3,"Stanley, Miss. Amy Zillah Elsie",female,23.00,0,0,CA. 2314,7.5500,S,1
11,3,"Kassem, Mr. Fared",male,NaN,0,0,2700,7.2292,C,0
12,2,"Fox, Mr. Stanley Hubert",male,36.00,0,0,229236,13.0000,S,0
13,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,Q,0
14,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,Q,1
15,3,"Gustafsson, Mr. Johan Birger",male,28.00,2,0,3101277,7.9250,S,0
16,3,"Jonsson, Mr. Carl",male,32.00,0,0,350417,7.8542,S,1
17,3,"Abbing, Mr. Anthony",male,42.00,0,0,C.A. 5547,7.5500,S,0
18,1,"Graham, Mr. George Edward",male,38.00,0,1,PC 17582,153.4625,S,0
19,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,Q,1
20,1,"Reuchlin, Jonkheer. John George",male,38.00,0,0,19972,0.0000,S,0
21,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,C,0
22,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.00,0,0,C.A. 33595,15.7500,S,1
23,3,"Sawyer, Mr. Frederick Charles",male,24.50,0,0,342826,8.0500,S,0
24,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,C,1
25,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,S,0
26,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,S,0
27,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,C,0
28,3,"Eklund, Mr. Hans Linus",male,16.00,0,0,347074,7.7750,S,0
29,2,"Matthews, Mr. William John",male,30.00,0,0,28228,13.0000,S,0
...,...,...,...,...,...,...,...,...,...,...
638,3,"Davies, Mr. Alfred J",male,24.00,2,0,A/4 48871,24.1500,S,0
639,2,"Laroche, Mrs. Joseph (Juliette Marie Louise La...",female,22.00,1,2,SC/Paris 2123,41.5792,C,1
640,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,S,0
641,3,"Jussila, Mr. Eiriik",male,32.00,0,0,STON/O 2. 3101286,7.9250,S,1
642,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,S,1
643,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,S,0
644,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,S,0
645,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,S,1
646,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,S,0
647,1,"Kent, Mr. Edward Austin",male,58.00,0,0,11771,29.7000,C,0
648,2,"Harper, Rev. John",male,28.00,0,1,248727,33.0000,S,0
649,3,"Adams, Mr. John",male,26.00,0,0,341826,8.0500,S,0
650,3,"Vander Cruyssen, Mr. Victor",male,47.00,0,0,345765,9.0000,S,0
651,3,"Thorneycroft, Mr. Percival",male,NaN,1,0,376564,16.1000,S,0
652,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",female,33.00,1,2,C.A. 34651,27.7500,S,1
653,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,S,0
654,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,S,0
655,1,"Kimball, Mr. Edwin Nelson Jr",male,42.00,1,0,11753,52.5542,S,1
656,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,S,0
657,3,"Cacic, Mr. Luka",male,38.00,0,0,315089,8.6625,S,0
658,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,S,1
659,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,Q,0
660,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,S,1
661,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,C,1
662,1,"Walker, Mr. William Anderson",male,47.00,0,0,36967,34.0208,S,0
663,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,Q,0
665,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.00,0,0,7553,9.8375,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,Q,1

In [72]:
titanic_train = train_data.dropna()

In [73]:
titanic_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,S,1
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,S,0
5,3,"Lemberopolous, Mr. Peter L",male,34.5,0,0,2683,6.4375,C,0

In [74]:
titanic_train.shape

(535, 10)

In [75]:
titanic_train = np.array(train_data)

In [98]:
X_train = titanic_train[:, 0:10]

X_train.reshape(-1,1)
X_train.shape

(668, 10)

In [99]:
Y_train = titanic_train[:, 10]

IndexError: index 10 is out of bounds for axis 1 with size 10

In [96]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression

In [97]:
classifier = LogisticRegression()
classifier.fit(X_train,Y_train)

C:\Users\ThisPc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'Q'

In [90]:
classifier.predict(X_train)

NotFittedError: This LogisticRegression instance is not fitted yet

In [89]:
classifier.score(X_train,Y_train) # score function is a mean accracy

NotFittedError: This LogisticRegression instance is not fitted yet

In [88]:
classifier.predict_proba(X_train) #[[prob of 0,prob of 1]] and sum these is equal to 1

NotFittedError: Call fit before prediction

In [87]:
classifier.predict(X_train) - Y_train #('0' correct classification,'1' incorrect classification) )

NotFittedError: This LogisticRegression instance is not fitted yet